/**
 * Site Footer
 * ----------------------------------------------------------------------------
 */
.site-footer {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top: 1px solid _palette(border);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 2.5em;

  .site-info {
    font-size: 11px;
    letter-spacing: 0.09em;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .to-top {
    border: 0;
    color: _palette(primary);
    display: none;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 30px;
    margin-left: auto;
    position: relative;
    width: 30px;
  }

  @media only screen and (max-width: 800px) {
    .site-info {
      margin-right: 15px;
    }

    .to-top {
      display: block;
    }
  }
}
