{{ define "content" }}

  <article class="post post-full">
    <header class="post-header">
      <h1 class="post-title underline">{{ .Params.title }}</h1>
    </header><!-- .post-header -->
    {{ if .Params.subtitle }}
    <div class="post-subtitle">
      {{ .Params.subtitle | safeHTML }}
    </div><!-- .post-subtitle -->
    {{ end }}
    {{ if .Params.content_img_path }}
    <div class="post-thumbnail">
      <img src="{{ .Params.content_img_path | relURL }}" alt="{{ .Params.title }}" />
    </div><!-- .post-thumbnail -->
    {{ end }}
    <div class="post-content">
      {{ .Content | safeHTML }}
    </div><!-- .post-content -->
    <footer class="post-meta">
      <time class="published"
        datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "Monday, January 2, 2006" }}</time>
    </footer><!-- .post-meta -->
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <nav class="block read-next">
    <h2 class="block-title underline">Read Next</h2>
    <div class="post-feed">
      <article class="post">
        <div class="post-inside">
          <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
          </header>
          <div class="post-content">
            <p>Previous post excerpt...</p>
          </div>
          <footer class="post-meta">
            <time class="published" datetime="">Previous post date</time>
          </footer>
        </div>
      </article>
      <article class="post">
        <div class="post-inside">
          <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
          </header>
          <div class="post-content">
            <p>Next post excerpt...</p>
          </div>
          <footer class="post-meta">
            <time class="published" datetime="">Next post date</time>
          </footer>
        </div>
      </article>
    </div>
  </nav>
  -->

{{ end }}
